<!doctype html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description"
            content="Schakel B.V. is een onafhankelijk organisatie, sterk in samenwerking, die organisaties verbindt en ontzorgt, waardoor alle Schakel leden optimaal profiteren van de door hun gewenste samenwerking, waarbij de Schakel leden hun eigen identiteit en strategische visie blijven behouden.">

        <title>Het Schakel Principe</title>
        <link rel="icon" href="assets/images/favicon.ico" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet" href="assets/css/style.css?v=202206021" />
            
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81010322-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-81010322-1');
        </script>
    </head>

    <body>
    <div class="parallax">
        <div id="home">
            <div class="header topnav">
                <a href="#home" class="logo">
                    <img src="assets/images/logo.svg" alt="Schakel Principe Logo">
                </a>
                <ul class="menu__row" id="menu">
                    <li class="menu__list">
                        <a href="#schakelprincipe" class="menu__link">Het Schakel Principe</a>
                    </li>
                    <li class="menu__list">
                        <a href="#communities" class="menu__link">Communities</a>
                    </li>
                    <li class="menu__list">
                        <a href="#over-schakel" class="menu__link">Over Schakel</a>
                    </li>
                    <li class="menu__list">
                        <a href="#probeer" class="menu__link">Probeer het zelf uit!</a>
                    </li>
                    <li class="menu__list">
                        <a href="https://jobs.schakelprincipe.nl/" class="menu__link">Jobs</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="header__image">
            <div class="header__block">
                <img src="assets/images/header-block.svg" class="header__rectangle">
                <h1 class="header__title">Een betrokken<br />en actieve community<br />met onze unieke aanpak</h2>
                <a href="#probeer" class="header__btn btn btn--orange">Probeer het uit</a>
            </div>
        </div>

        <div class="row divider">
            <div class="divider__overlay box">
                <span>
                    <img src="assets/images/overlay.svg" class="divider__triangles">
                </span>
            </div>
            <div class="divider__arrow box">
                <span>
                    <a href="#schakelprincipe">
                        <i class="divider__arrow--orange material-icons">arrow_downward</i>
                    </a>
                </span>
            </div>
            <div class="divider__social box">
                <span>
                    <p class="divider__links">
                        <a href="https://www.linkedin.com/company/schakel-principe/about/">Linkedin</a> |
                        <a href="https://www.facebook.com/schakelprincipe">Facebook</a> |
                        <a href="https://www.instagram.com/schakelprincipe/">Instagram</a>
                    </p>
                </span>
            </div>
            <div class="communities_in_numbers">
                <div class="info__block">
                    <h3>7305</h3>
                    <h5>Organisaties</h5>
                </div>
                <div class="info__block info__block--middle">
                    <h3>17673</h3>
                    <h5>Gebruikers</h5>
                </div>
                <div class="info__block">
                    <h3>3785</h3>
                    <h5>Onderwerpen</h5>
                </div>
            </div>
        </div>

        <div class="content-wrap">
            <div class="section" id="schakelprincipe">

                <div class="section__title row center">
                    <h2>Wij helpen al meer dan 10 jaar organisaties en bedrijven met het bouwen en onderhouden van community’s.</h2>
                </div>
                <div class="section__paragraph row">
                    <p>
                        Met onze unieke aanpak, het Schakel principe, weten we community’s met waarde te realiseren. Een waardevolle community heeft namelijk meer nodig dan een online platform alleen. Daarom is onze aanpak gebaseerd op drie belangrijke onderdelen. Met de juiste mix van strategie, services en technologie zorgen we voor échte verbinding tussen mensen.
                    </p>
                </div>
            </div>

            <div class="section">
                <div class="section__title row">
                    <h2>Het Schakel Principe</h2>
                </div>
                <div class="section__paragraph row">
                    <p><img src="/assets/images/cirkels.png" /></p>
                    <p>
                        <b>Strategie</b><br />
                        Geen enkele community is hetzelfde. Om een waardevolle community
                        te creëren, is het belangrijk om van tevoren de behoeften en doelen
                        die je als organisatie met je community hebt, duidelijk te definiëren.
                        Ook moet je je doelgroep kennen en weten wat hun gezamenlijke ambities of ervaringen zijn. Onze community consultant helpt je daar bij.
                    </p>

                    <p>
                        <b>Technologie</b><br />
                        Technologie helpt ons om mensen met elkaar in contact te brengen.
                        Daarom bieden we een online platform en app waarin mensen op
                        basis van relevante thema’s elkaar kunnen vinden en met elkaar in
                        contact kunnen komen.
                    </p>
                    
                    <p>
                        <b>Services</b><br />
                        Persoonlijke aandacht en menselijk contact is essentieel voor een
                        betrokken en actieve community. Onze communitybeheerders
                        luisteren, vragen door en zijn echte verbinders. Ze zijn op de hoogte
                        van wat er speelt in de community en brengen de juiste mensen met
                        elkaar in contact, online maar zeker ook offline. 
                    </p>
                </div>
            </div>

            <div class="section current_communities" id="communities">
                <div class="section__title row center">
                    <h2>Communities die al werken volgens het Schakel Principe:</h2>
                </div>
                <div class="logos schakel-carousel">
                    <!-- <div class="schakel-carousel__window"> -->
                        <div class="item grayscale"><a href="https://netwerkschakel.com/matchmate" target="_blank"><img
                            src="assets/images/logos/matchmate.png"></a></div>
                        <div class="item grayscale"><a href="https://netwerkschakel.com/mikpiw" target="_blank"><img
                            src="assets/images/logos/mikpiw.png"></a></div>
                        <div class="item grayscale"><a href="https://gelijkekansenvenlo.nl" target="_blank"><img
                            src="assets/images/logos/gk_venlo.png"></a></div>
                        <div class="item grayscale"><a href="https://netwerkschakel.com/akkoord-po" target="_blank"><img
                            src="assets/images/logos/akkoord.png"></a></div>
                        <div class="item grayscale"><a href="https://netwerkschakel.com/rjc" target="_blank"><img
                            src="assets/images/logos/rodajc.png"></a></div>
                        <div class="item grayscale"><a href="https://netwerkschakel.com/co3connect" target="_blank"><img
                            src="assets/images/logos/co3_connect.png"></a></div>
                        <div class="item grayscale"><a href="https://zuydschakel.nl" target="_blank"><img
                            src="assets/images/logos/zuyd.png"></a></div>
                        <div class="item grayscale"><a href="https://smart-market.nl" target="_blank"><img
                            src="assets/images/logos/smartmarket.png"></a></div>
                        <div class="item grayscale"><a href="https://sterkinsamenwerking.nl" target="_blank"><img
                            src="assets/images/logos/sis.png"></a></div>
                        <div class="item grayscale"><a href="https://schakelpunt.com" target="_blank"><img
                            src="assets/images/logos/schakelpunt.png"></a></div>
                        <div class="item grayscale"><a href="https://buurtschakel.com" target="_blank"><img
                            src="assets/images/logos/buurtschakel.png"></a></div>
                        <div class="item grayscale"><a href="https://netwerkschakel.com" target="_blank"><img
                            src="assets/images/logos/netwerkschakel.png"></a></div>
                        <div class="item grayscale"><a href="https://officenter.eu/nl" target="_blank"><img
                            src="assets/images/logos/officenter.png"></a></div>
                        <div class="item grayscale"><a href="https://netwerk.iedereenverdientvakantie.be/" target="_blank"><img
                            src="assets/images/logos/vakantieschakel.png"></a></div>
                        <div class="item grayscale"><a href="https://dagvanjeloopbaan.nl" target="_blank"><img
                            src="assets/images/logos/dvjl.png"></a></div>
                    <!-- </div> -->
                </div>
            </div>
        </div>


        <div class="content-wrap">
            <div class="section over-schakel" id="over-schakel">
                <div class="section__title row">
                    <h2>Ontmoet het Schakel Team</h2>
                </div>
                <div class="team">
                    <div class="team_member">
                        <div class="avatar">
                            <div class="image_window">
                                <img src="/assets/images/avatars/swen.jpg" />
                            </div>
                        </div>
                        <div class="info">
                            <b>Swen Kwakkernaat</b><br />
                            Communitybuilder
                        </div>
                    </div>
                    <div class="team_member">
                        <div class="avatar">
                            <div class="image_window">
                                <img src="/assets/images/avatars/franklin.jpg" />
                            </div>
                        </div>
                        <div class="info">
                            <b>Franklin Schmetz</b><br />
                            Communitybuilder
                        </div>
                    </div>
                    <div class="team_member">
                        <div class="avatar">
                            <div class="image_window">
                                <img src="/assets/images/avatars/sandra.png" />
                            </div>
                        </div>
                        <div class="info">
                            <b>Sandra van Dijk</b><br />
                            Communitybeheerder
                        </div>
                    </div>
                    <div class="team_member">
                        <div class="avatar">
                            <div class="image_window">
                                <img src="/assets/images/avatars/marleen_r.png" />
                            </div>
                        </div>
                        <div class="info">
                            <b>Marleen Ritzen</b><br />
                            Communitybeheerder
                        </div>
                    </div>
                    <div class="team_member">
                        <div class="avatar">
                            <div class="image_window">
                                <img src="/assets/images/avatars/marleen_p.png" />
                            </div>
                        </div>
                        <div class="info">
                            <b>Marleen Princen</b><br />
                            Communitybeheerder
                        </div>
                    </div>
                    <!-- <a href="https://jobs.schakelprincipe.nl/" alt="Ga naar de vacatures" class="team_member">
                        <div class="avatar">
                            <div class="image_window">
                                <img src="/assets/images/avatars/vacature.png" />
                            </div>
                        </div>
                        <div class="info">
                            <b>Vacature</b><br />
                            Communitybeheerder
                        </div>
                    </a> -->
                    <div class="team_member">
                        <div class="avatar">
                            <div class="image_window">
                                <img src="/assets/images/avatars/maddy.png" />
                            </div>
                        </div>
                        <div class="info">
                            <b>Maddy Salden</b><br />
                            Projectmanager
                        </div>
                    </div>
                    <div class="team_member">
                        <div class="avatar">
                            <div class="image_window">
                                <img src="/assets/images/avatars/jake.png" />
                            </div>
                        </div>
                        <div class="info">
                            <b>Jake Coorens</b><br />
                            Community consultant
                        </div>
                    </div>
                    <div class="team_member">
                        <div class="avatar">
                            <div class="image_window">
                                <img src="/assets/images/avatars/freya.png" />
                            </div>
                        </div>
                        <div class="info">
                            <b>Freya la Lau</b><br />
                            Content manager
                        </div>
                    </div>
                    <div class="team_member">
                        <div class="avatar">
                            <div class="image_window">
                                <img src="/assets/images/avatars/nuray.png" />
                            </div>
                        </div>
                        <div class="info">
                            <b>Nuray Yasarlar</b><br />
                            Community-ondersteuner
                        </div>
                    </div>
                    <!-- <div class="team_member">
                        <div class="avatar">
                            <div class="image_window">
                                <img src="/assets/images/avatars/user_placeholder.jpg" />
                            </div>
                        </div>
                        <div class="info">
                            <b>Tiffany Stevens</b>
                            Communitybeheerder
                        </div>
                    </div> -->
                    <!-- <a href="https://jobs.schakelprincipe.nl/" alt="Ga naar de vacatures" class="team_member">
                        <div class="avatar">
                            <div class="image_window">
                                <img src="/assets/images/avatars/vacature.png" />
                            </div>
                        </div>
                        <div class="info">
                            <b>Vacature</b><br />
                            Community-ondersteuner
                        </div>
                    </a> -->
                    <div class="team_member">
                        <div class="avatar">
                            <div class="image_window">
                                <img src="/assets/images/avatars/jantine.png" />
                            </div>
                        </div>
                        <div class="info">
                            <b>Jantine Aasted-Madsen</b><br />
                            Community-ondersteuner
                        </div>
                    </div>
                    <div class="team_member">
                        <div class="avatar">
                            <div class="image_window">
                                <img src="/assets/images/avatars/philippe.png" />
                            </div>
                        </div>
                        <div class="info">
                            <b>Philippe Heijnen</b><br />
                            Community Support
                        </div>
                    </div>
                    <div class="team_member">
                        <div class="avatar">
                            <div class="image_window">
                                <img src="/assets/images/avatars/daan.png" />
                            </div>
                        </div>
                        <div class="info">
                            <b>Daan Rijnkels</b><br />
                            Community Support
                        </div>
                    </div>
                    <div class="team_member">
                        <div class="avatar">
                            <div class="image_window">
                                <img src="/assets/images/avatars/arjan.jpg" />
                            </div>
                        </div>
                        <div class="info">
                            <b>Arjan Luemes</b><br />
                            Community Support
                        </div>
                    </div>
                </div>
            </div>

            <div class="section" id="probeer">
                
                <div class="section__title row">
                    <h2>Wat kunnen we voor jou betekenen?</h2>
                </div>

                <div class="section__paragraph row">
                    <p>
                        Vul het formulier en en we nemen snel contact met je op
                    </p>
                </div>
                    
                <div class="contact pt-2">
                    <div class="row">
                    <div class="col screens">
                        <img src="assets/images/screens.png">
                    </div>
                        <div class="col">
                            <form id="contact_form" name="contact" class="flex contact__form">
                                <div class="formError"></div>
                                <div class="formSuccess"></div>

                                <label for="name" class="contact__label">Naam</label>
                                <input type="text" name="name" id="name" class="text-field contact__input" placeholder="Wij houden van persoonlijkheid">

                                <label for="email" class="contact__label">E-mailadres</label>
                                <input type="email" name="email" id="email" class="text-field contact__input" placeholder="Hoe kunnen we je bereiken?">

                                <label for="tel" class="contact__label">Telefoonnummer</label>
                                <input type="tel" name="tel" id="tel" class="text-field contact__input" placeholder="Hoe kunnen we je bereiken?">

                                <label for="question" class="contact__label">Vraag of opmerking</label>
                                <textarea name="question" id="question" class="text-area contact__input" placeholder="Waarmee kunnen we je helpen?"></textarea>

                                <span class="abhp"><input type="checkbox" name="privacy" id="privacy" /></span>

                                <div class="form__checkbox">
                                    <input type="checkbox" name="checkbox" id="checkbox" class="contact__checkbox">
                                    <label for="checkbox" class="contact__checkbox-label">
                                    Ik accepteer de privacy voorwaarden, <a href="privacy.html">lees ze hier</a>
                                    </label>
                                </div>
                                <button class="btn contact__btn btn--orange">Verzenden</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="content-wrap">
                <div class="flex footer__social">
                    <h2 class="footer__title">Volg ons op Social Media</h2>
                    <div class="flex footer__links">
                        <div><a href="https://www.facebook.com/schakelprincipe"><img src="assets/images/facebook.png" width="50" height="50"></a></div>
                        <div><a href="https://www.linkedin.com/company/schakel-principe/about/"><img
                            src="assets/images/linkedin.png" width="50" height="50"></a></div>
                        <div><a href="https://www.instagram.com/schakelprincipe/"><img src="assets/images/instagram.png" width="50" height="50"></a></div>
                    </div>
                </div>

                <div class="flex footer__info">
                    <h2 class="footer__title">Hoofdkantoor Schakel</h2>
                    <p class="footer__paragraph">Meerssenerweg 166</p>
                    <p class="footer__paragraph">6222 AK Maastricht</p>
                    <p class="footer__paragraph">043 - 321 57 86</p>
                </div>
            </div>

            <p class="copyright">Copyright &copy; 2022 Schakel Holding BV | <a href="/privacy">Privacy verklaring</a></p>
            <!-- <a href="#">Algemene voorwaarden</a> -->
        </div>
    </div>

    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/schakel-carousel.js?v=20220621"></script>
    <script src="/assets/js/init.js"></script>
    </body>

</html>