<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Het Schakel Principe - Privacy verklaring</title>
  <link rel="icon" href="assets/images/favicon.ico" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <link rel="stylesheet" href="assets/css/slicknav.min.css">
  <script src="assets/js/jquery.slicknav.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

             <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81010322-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-81010322-1');
        </script>
    
</head>

<body>
    <div id="home">
      <div class="header topnav">
        <a href="index.html" class="logo logo--absolute">
          <img src="assets/images/logo.svg" alt="Schakel Principe Logo">
        </a>
        <ul class="menu__row menu__row--white" id="menu">
          <li class="menu__list">
            <a onclick="window.history.back();" class="menu__link">
              <i class="material-icons back-icon">arrow_back</i> Home
            </a>
          </li>
        </ul>
      </div>
    </div>
    
    
    <div class="privacy">
        <h2 class="privacy__title">
          PRIVACYVERKLARING<br/>
          SCHAKEL HOLDING B.V. 
        </h2>

        <h3>Schakel Holding B.V.</h3>
        <p class="privacy__text">Gevestigd aan de Stadionweg 70c, 6225 XR te Maastricht.<br>
        <p>
          Deze privacyverklaring is opgesteld om je te informeren over hoe Schakel Holding B.V. (hierna ‘wij’ of ‘Schakel’) gegevens verwerkt van personen die interesse hebben in Schakel en de diensten die Schakel levert of van personen waarmee Schakel op een andere manier een relatie onderhoudt.
          Ben je gebruiker of neem je deel aan schakelnetwerk of community en wil je graag weten hoe gegevens binnen het betreffende schakelnetwerk of community worden verwerkt? Kijk dan naar de privacyverklaring van de relevante bedrijfsonderdeel of community, beschikbaar via de link waarop je als deelnemer aan een community of netwerk inlogt.
        </p>
        
        <p>
          Wij beschermen jouw privacy. Privacybescherming betekent niet alleen dat je gegevens goed worden beveiligd maar ook dat je duidelijk inzicht hebt in wat wij met jouw gegevens doen.<br>
          In deze privacyverklaring wordt uitgelegd hoe dat zit op basis van een aantal vragen die worden beantwoord:
        </p>
        <ul>
          <li>Welke persoonsgegevens van mij worden verwerkt en waarvoor worden deze gebruikt?</li>
          <li>Hoe lang worden mijn gegevens bewaard?</li>
          <li>Op basis van welke rechtsgrond worden mijn gegevens verwerkt?</li>
          <li>Worden mijn gegevens gedeeld met andere partijen en zo ja met welke?</li>
          <li>Welke maatregelen zijn getroffen om mijn gegevens te beschermen?</li>
          <li>Wat zijn mijn rechten? Wat kan ik opvragen, terugdraaien, wijzigen of laten verwijderen?</li>
          <li>Bij wie kan ik terecht met klachten of vragen over hoe wij met je privacy omgaan?</li>    
        </ul>
        
        <h3>Welke persoonsgegevens van mij worden verwerkt en waarvoor worden deze gebruikt?</h3>
        <p>Van gebruikers van het platform worden verschillende sets aan persoonsgegevens verwerkt voor de volgende doeleinden:</p>

        <h4>Ik ben contactpersonen bij een organisatie waar Schakel zaken mee doet of mee samenwerkt</h4>
        <p>
          Wij verwerken de volgende persoonsgegevens van contactpersonen die organisaties vertegenwoordigen waarmee wij een relatie onderhouden:
        </p>
        <ul>
          <li>NAW-gegevens;</li>
          <li>Contactgegevens, zoals telefoonnummer en e-mailadres;</li>
          <li>Geslacht;</li>
          <li>Geboortedatum;</li>
          <li>Naam van de organisatie die de contactpersoon vertegenwoordigt of waarvoor de contactpersoon werkzaam is;</li>
          <li>Functie/titel;</li>
          <li>Informatie die aan gekoppeld is aan jou als contactpersoon met betrekking tot het nakomen of uitvoeren van gemaakte afspraken, overeenkomsten of verplichtingen tussen jouw organisatie en Schakel.</li>
        </ul>
        <p>
          Wij verwerken deze gegevens alleen om invulling te kunnen geven aan afspraken, overeenkomsten, gezamenlijke kansen en/of verplichtingen die tussen Schakel en jouw organisatie bestaan en om je te informeren over zaken die voor jou of jouw organisatie mogelijk interessant zijn.
        </p>
        <p>
          Wij bewaren deze persoonsgegevens niet langer dan nodig is om uitvoering te kunnen geven aan de bovengenoemde doeleinden.
        </p>
        <p>
          Wij verwerken jouw contactgegevens voor bovengenoemde doeleinden op basis van overeenkomst of gerechtvaardigd belang.
        </p>
        <p>
          Voor het sturen van nieuwsbrieven en overige algemene informatie over Schakel vragen we altijd eerst je toestemming. Je kunt deze toestemming altijd weer eenvoudig intrekken door je uit te schrijven voor informatieve berichtgeving door te klikken op de uitschrijf-link onder aan iedere email.
        </p>
        
        <h4>Ik solliciteer bij Schakel en gerelateerde bedrijfsonderdelen</h4>
        <p>Wij verwerken de volgende persoonsgegevens van sollicitanten:</p>
        <ul>
          <li>NAW gegevens</li>
          <li>Contactgegevens (telefoonnummer en e-mail adres)</li>
          <li>Geslacht</li>
          <li>Geboortedatum</li>
          <li>CV, werkervaring en opleidingsniveau</li>
          <li>Motivatie</li>
          <li>Beschikbaarheid</li>
          <li>Bevindingen van derden</li>
        </ul>
        <p>Wij verwerken deze gegevens alleen om te kunnen beoordelen of je geschikt bent voor een functie binnen Schakel (werving- en selectieprocedure)</p>
        <p>Wij bewaren persoonsgegevens die tijdens de sollicitatie worden verwerkt tot 4 weken na het einde van de sollicitatieprocedure. De sollicitatieprocedure eindigt als de gekozen kandidaat zijn of haar proeftijd van 1 maand succesvol heeft afgerond.</p>
        <p>Persoonsgegevens die worden verwerkt als onderdeel van de sollicitatieprocedure worden door ons niet gedeeld met andere partijen. Wel kan het zijn dat een referentie-check plaats vindt. Dit gebeurt alleen met jouw uitdrukkelijke toestemming. Bij een dergelijke referentie-check wordt alleen naar bevindingen gevraagd die betrekking hebben op het valideren van de geschiktheid voor een bepaalde functie.</p>
        <p>Wij verwerken sollicitatiegegevens op basis van overeenkomst (pre-contractuele handeling). Om te kunnen komen tot een arbeidscontract beoordelen wij of u geschikt bent voor een bepaalde functie op basis van een aantal persoonsgegevens (zoals hierboven genoemd).</p>
        
        <h4>Ik bezoek de website van Schakel</h4>
        <p>Schakel maakt gebruik van de volgende cookies:</p>
        
        <u>Functionele cookies</u> – Deze cookies zijn noodzakelijk voor een goede werking van de website:
        <ul>
          <li>De browserinstellingen van bezoekers worden opgeslagen. Op deze manier hebben bezoekers een optimale weergave van de website op hun scherm;</li>
          <li>De mogelijkheid voor bezoekers om hun inloggegevens op te slaan, zodat bepaalde instellingen en voorkeuren niet steeds opnieuw moeten worden herhaald;</li>
          <li>Om de belasting van de website gelijkmatig te verdelen, blijft de website zo functioneel en bereikbaar;</li>
          <li>Om potentiële problemen of misbruik op de website te ontdekken.</li>
        </ul>

        <p></p>

        <u>Analytische cookies</u> - Analytische cookies verzamelen statistieken over het gebruik van de website door bezoekers. Deze statistieken geven meer inzicht in hoe vaak de website wordt bezocht en waar verbetering nodig is. Dit om een optimale gebruikerservaring te garanderen. Schakel maakt gebruik van geanonimiseerde analyses. Dit betekent dat er geen persoonsgegevens verwerkt door de inzet van cookies.
        
        <h3>Worden mijn gegevens met andere partijen gedeeld?</h3>
        <p>
          Wij verkopen je gegevens niet aan derden en verstreken deze uitsluitend indien dit nodig is voor de uitvoering van onze overeenkomst met jou of met de organisatie die je vertegenwoordig of om te voldoen aan een wettelijke verplichting. Met bedrijven die je gegevens mogelijk verwerken in onze opdracht, sluiten wij een verwerkersovereenkomst om te zorgen voor eenzelfde niveau van beveiliging en vertrouwelijkheid van jouw gegevens. Wij blijven in deze verantwoordelijk voor de verwerkingen.
        </p>
        <p>
          Wij verwerken je gegevens niet buiten de EER.
        </p>
        
        <h3>Welke maatregelen zijn getroffen om mijn gegevens te beschermen?</h3>
        <p>Wij doen er alles aan om misbruik, verlies, onbevoegde toegang, en andere ongewenste handelingen met je persoonsgegevens tegen te gaan. Wij implementeren de passende technische en organisatorische maatregelen zodat de verwerkingen voldoen aan de eisen van nationale en Europese wetgeving en verzekeren op zo’n manier de bescherming van je rechten.</p>
        <ul>
          <li>Alle middelen en systemen die binnen het platform worden ingezet bij het verwerken van je persoonsgegevens zijn zo ingericht dat je privacy optimaal wordt gewaarborgd.</li>
          <li>Alle medewerkers die je persoonsgegevens verwerken worden regelmatig getraind op gebied van privacybescherming en gaan zorgvuldig met je gegevens om volgens vastgelegde processen.</li>
          <li>Datalekken - Indien er bij ons toch onverhoopt iets niet goed mocht gaan met de bescherming van jouw gegevens dan melden wij dat altijd aan de Autoriteit Persoonsgegevens (AP). Indien het datalek mogelijke nadelige gevolgen voor jou zou kunnen hebben nemen we direct contact met je op.</li>
          <li>De privacybeschermende maatregelen en processen zijn vastgelegd in ons privacybeleid en informatiebeveiligingsbeleid en onze functionaris voor de gegevensbescherming en onze security officer zorgen ervoor dat deze maatregelen regelmatig worden gecontroleerd en aangepast waar nodig.</li>
          <li>Wij bewaren je persoonsgegevens niet langer dan nodig voor het uitvoeren van de doeleinden waarvoor deze zijn verzameld waarna je gegevens, voor zover hier geen langere wettelijke bewaartermijn voor geldt, uit onze systemen worden verwijderd of geanonimiseerd.</li>
          <li>Ondanks alle maatregelen die wij hebben genomen om je gegevens te beschermen en je privacy te waarborgen is het toch altijd mogelijk dat er een Datalek ontstaat. Mocht je het gevoel hebben dat er ergens iets niet goed gaat met onze systemen of werkwijzen dan waarderen wij het zeer als je ons dit laat weten.</li>
        </ul>
        
        <h3>Hoe kan ik mij beroepen op mijn rechten en waar kan ik terecht met klachten?</h3>
        <p>
          Je kunt inzage of/en correctie vragen van de persoonsgegevens die wij van jou verwerken. Je kunt je verzetten tegen deze verwerking, of waar de wet dit toestaat, een beperking van of zelfs algehele wissing van persoonsgegevens vragen. Verder kun je vragen dat de persoonsgegevens die wij van jou verwerken, aan je worden overgedragen of aan een andere organisatie waar de wet dit als dusdanig voorschrijft.
        </p>
        <p>
          Deze rechten kunt je uitoefenen door een brief of e-mail te sturen naar:
        </p>
        <p>
          <i>Post adres:</i><br>
          Schakel Holding B.V.<br>
          Stadionweg 70c<br>
          6225 XR  Maastricht.
        </p>
        <p>
          <i>E-mail adres:</i><br>
          privacy@schakelbv.com<br>
        </p>
        <p>
          We beantwoorden je vraag of klacht altijd schriftelijk (via brief of e-mail) en zo spoedig mogelijk. Hierbij wordt een uiterlijke termijn gehanteerd van 4 weken. Is je vraag of klacht niet naar tevredenheid afgehandeld? Je ook altijd contact opnemen met de Autoriteit Persoonsgegevens.
        </p>
        
        <h3>Wijziging van de privacyverklaring</h3>
        <p>
          Het kan zijn dat wij deze privacyverklaring van tijd tot tijd dienen te wijzigen. Alles is immers aan verandering onderhevig, niet alleen de wetgeving, maar ook onze organisatie. Bij wijzigingen van de privacyverklaring informeren wij je hierover via onze website: <u><a style="color:blue" href="home">www.schakelprincipe.nl</a></u>
        </p>
    </div>

    <div class="footer">
      <div class="content-wrap">
        <div class="flex footer__social">
          <h2 class="footer__title">Volg ons op Social Media</h2>
          <div class="flex footer__links">
            <div><a href="https://www.facebook.com/schakelprincipe"><img src="assets/images/facebook.png" width="50" height="50"></a></div>
            <div><a href="https://www.linkedin.com/company/schakel-principe/about/"><img
                  src="assets/images/linkedin.png" width="50" height="50"></a></div>
            <div><a href="https://www.instagram.com/schakelprincipe/"><img src="assets/images/instagram.png" width="50" height="50"></a></div>
          </div>
        </div>

        <div class="flex footer__info">
            <h2 class="footer__title">Hoofdkantoor Schakel</h2>
            <p class="footer__paragraph">Meerssenerweg 166</p>
            <p class="footer__paragraph">6222 AK Maastricht</p>
            <p class="footer__paragraph">043 - 321 57 86</p>
        </div>
      </div>

      <p class="copyright">Copyright &copy; 2022 Schakel Holding BV | <a href="/privacy">Privacy verklaring</a></p>
    </div>

  <script src="https://www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
  <script src="assets/js/schakel-carousel.js"></script>
  <script src="assets/js/init.js"></script>
</body>

</html>