$primary-color: #e67437;
$black: #000;
$white: #fff;
$background-color: #f7f7f7;

$breakpoints: (
  "phone": 400px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1248px,
  "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: $black;
  background-color: $background-color;
  overflow-x: hidden;
}

.parallax {
  background-image: url("../images/bg-logo.png");
  height: 100%;
  background-attachment: fixed;
  background-position: -5% 15%;
  background-repeat: no-repeat;
  background-size: 30%;
}

.content-wrap {
    width: 100%;
    @include push--auto();
}

a {
    text-decoration: none;
    color: $black;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
        font-weight: bold;
    }
}
h2{
    font-size:  1.5rem;
}

// Utility classes
.center {
    justify-content: center;
}

.text-left {
    text-align: left;
}

.mx-auto {
    @include push--auto();
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-5 {
    padding-top: 5rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.py-5 {
    padding: 5rem 0;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-5 {
    margin-top: 5rem;
}

.flex {
    display: flex;
}

.btn {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    width: 220px;
    max-height: 50px;
    text-align: center;
    padding: 1rem 0;
    cursor: pointer;
    &:hover {
        background-color: lighten($primary-color, 15%);
        -webkit-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.2);
        transition: all 0.25s ease;
        font-weight: 400;
    }
}



.card {
    width: 325px;
    height: 450px;
    background-color: $white;
    border-radius: 5px;
}

.box-shadow {
    -webkit-box-shadow: 0px 1px 5px 1px rgba(179, 179, 179, 0.7);
    -moz-box-shadow: 0px 1px 5px 1px rgba(179, 179, 179, 0.7);
    box-shadow: 0px 1px 5px 1px rgba(179, 179, 179, 0.7);
}

.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.25s linear;
  &:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

.header {
  display: flex;
  margin-top: -2rem;
  @include mq("tablet-wide", min) {
    margin-top: 0;
  }
}

.logo {
  margin-left: 1rem;
  z-index: 1;
  @include mq("tablet-wide", min) {
    margin: 1rem 0 0 3rem;
  }
  img {
    max-width: 50px;
    @include mq("tablet-wide", min) {
      max-width: 100px;
    }
  }
}

.logo--absolute {
  position: absolute;
}

.slicknav_menu {
  @include mq("tablet-wide", min) {
    display: none;
  }
}

.menu__row {
  display: none;
  width: 100vw;
  justify-content: center;
  @include mq("tablet-wide", min) {
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
  }
}

.menu__row--white {
  @extend .menu__row;
  background-color: #fff;
  height: 107px;
  @include mq("tablet-wide", min) {
    display: flex;
    justify-content: flex-start;
    padding: 0 11.5rem;
  }
  font-size: 18px;
}

.menu__list {
  display: inline-block;
  vertical-align: bottom;
  font-size: 1em;
}

.menu__link {
  display: block;
  text-decoration: none;
  padding: 3rem 2rem 2rem 2rem;
  color: $black;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  &:hover {
    font-weight: 500;
  }
}

.header__image {
  width: 100vw;
  height: 90vh;
  background-image: url("../images/home-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq("tablet-wide", min) {
    // width: 100%;
    background-size: 100% auto;
    justify-content: flex-end;
  }
}

.communities_in_numbers{
    display: none;
    @include mq("tablet-wide", min) {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        max-width: 600px;
        position: absolute;
        right: 4rem;
        bottom: 100%;
    }
    .info__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        color: $white;
        width: 175px;
        height: 180px;
        margin: 0.25rem;
        position: relative;
        bottom: 0;
        right: 0;
        left: 0;
        h3 {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1px;
        }
        h5 {
        padding-top: 0.5rem;
        font-weight: 300;
        }
    }
    .info__block--middle {
        width: 200px;
    }
}

.header__block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  @include mq("tablet-wide", min) {
    width: 550px;
  }
  img {
    padding-left: 1rem;
    max-width: 100px;
    @include mq("tablet-wide", min) {
      max-width: 200px;
      padding-left: 0;
      margin-left: -4rem;
    }
  }
}

.header__title {
  position: relative;
  left: -2.5em;
  color: $white;
  font-weight: 300;
  @include mq("tablet-wide", min) {
    font-size: 2rem;
  }
}

.header__btn {
  display: block;
  position: absolute;
  width: 220px;
  bottom: -4rem;

  @include mq("tablet-wide", min) {
    display: block;
    position: absolute;
    width: 220px;
    bottom: -2rem;
  }
}

.btn--orange {
  color: $white;
  background-color: $primary-color;
}

.divider {
  position: relative;
  justify-content: center;
  @include mq("tablet-wide", min) {
    height: 7rem;
    justify-content: space-between;
  }
}

.box {
  display: flex;
  @include mq("tablet-wide", min) {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}

.box:first-child > span {
  margin-right: auto;
}

.box:last-child > span {
  margin-left: auto;
}

.divider__overlay {
  display: none;
  position: relative;
  top: -12rem;
  @include mq("tablet-wide", min) {
    display: flex;
  }
}

.divider__triangles {
  max-width: 35vw;
  min-width: 300px;
}

.divider__arrow--orange {
  color: $primary-color;
  font-size: 5em;
}

.divider__arrow {
  height: 2rem;
}

.divider__social {
  display: none;
  @include mq("tablet-wide", min) {
    display: flex;
  }
}

.divider__links {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-right: 2rem;
  @include mq("desktop", min) {
    margin-right: -4.5rem;
  }
  a:hover {
    font-weight: 300;
  }
}

p {
  line-height:  1.611;
  font-size:    1rem;
  padding:      0 0 16px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 48px;
    .section__title, .section__paragraph{
        max-width:      550px;
    }
    
    .section__title {
        font-size:  28px;
        margin:     0 0 16px;
    }
    
    .section__paragraph {
        font-weight: 400;
    }
    
    .section__video {
        width: 30vw;
        min-width: 300px;
    }
    
    .section__btn {
        width: 220px;
    }
}



.current_communities{
    .section__title{
        max-width: 80%;
    }
    .schakel-carousel {
        padding: 12px;
        overflow: hidden;
        max-width: 80%;
        .schakel-carousel__window {
            display: flex;
            transition: all 0.45s ease 0s;
            align-items: center;
            .item {
                box-sizing: border-box;
                padding:        0 16px;
                text-align:     center;
                img {
                    max-height: 150px;
                    max-width: 100%;
                    width: auto;
                }
            }
        }
    }
}

.over-schakel {
    padding:    48px 0;
    width:      100%;
    display:    flex;
    background-color: $primary-color;
    color: $white;
    .section__title, .team{
        max-width:      900px;
    }
    .section__title {
        margin:         0 0 32px;
    }
    .team{
        display:        flex;
        flex-wrap:      wrap;
        .team_member{
            flex:       0 0 180px;
            font-size:  14px;
            font-weight: 300;
            text-align: center;
            margin:         0 0 24px;
            .avatar{
                margin:     0 0 8px;
                .image_window{
                    margin:     0 auto;
                    width:      120px;
                    height:     120px;
                    overflow:   hidden;
                    border-radius: 50%;
                    img{
                        width:  100%;
                    }
                }
            }
        }
        a.team_member{
            color:      white;
            &:hover{
                text-decoration:    underline;
            }
        }
    }
}

.contact {
    @extend .section;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .text-field {
        width: 85%;
        height: 30px;
        border: 1px solid gray;
        padding: 1rem;
    }
    
    .text-area {
        @extend .text-field;
        height: 120px;
        width: 85%;
        resize: none;
    }
    .screens {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    
        img {
            max-width: 100%;
            height: auto;
            max-width: 300px;
            @include mq("tablet-wide", min) {
            max-width: 480px;
            }
        }
    }
}



.contact__form {
    max-width: 400px;
    max-height: 475px;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    padding: 0.5rem;
    @include mq("tablet-wide", min) {
        padding: 1rem;
    }
    .contact__label {
        align-self: flex-start;
        font-weight: 300;
        padding: 0.5rem 0 0.25rem 1rem;
    }
    
    .contact__input {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1em;
        &::placeholder {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 1em;
        }
        &::-moz-placeholder {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 1em;
        }
        &::-webkit-input-placeholder {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 1em;
        }
        &::-ms-input-placeholder {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 1em;
        }
        &:placeholder-shown {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 1em;
        }
    }
    .abhp{
        display:    none; 
    }
        
    textarea {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1em;
        &::placeholder {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 1em;
        }
        &::-moz-placeholder {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 1em;
        }
        &::-webkit-input-placeholder {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 1em;
        }
        &::-ms-input-placeholder {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 1em;
        }
        &:placeholder-shown {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 1em;
        }
    }
    .contact__checkbox-label {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        a {
            color: $primary-color;
        }
    }
    
    .form__checkbox {
        max-width: 90%;
        margin: 10px;
    }
    
    .formError{
        display:    none;
        background: rgba(220,20,60,0.1);
        color:      crimson;
        padding:     8px 16px;
        margin:      0 0 16px;
    }
    .formSuccess{
        display:    none;
        background: rgba(34,139,34,0.1);
        color:    forestgreen;
        padding:    8px 16px;
        margin:     0 0 8px;
        margin:     0 0 16px;
    }
    
    .contact__btn {
        display: flex;
        justify-content: center;
        width: 220px;
        position: relative;
        bottom: 0px;
    }
}


.footer {
    width: 100%;
    height: 500px;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    margin-top: 12rem;
    background-color: $white;
    @include mq("tablet-small", min) {
        height: 300px;
        padding-top: 4rem;
    }
    .content-wrap {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.footer__social {
    letter-spacing: 1px;
    align-items: flex-start;
    flex-direction: column;
    line-height: 2;
    @include mq("tablet-small", min) {
        margin-left: 2rem;
    }
}

.footer__info {
    align-items: flex-start;
    flex-direction: column;
    line-height: 2;
    letter-spacing: 2px;
    @include mq("tablet-small", min) {
        margin-right: 2rem;
    }
}

.footer__links {
    justify-content: center;
    div {
        padding: 0.5rem;
        img {
        &:hover {
            background-color: darken($white, 15%);
            -webkit-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.2);
            transition: all 0.25s ease;
        }
        }
    }
}

.copyright {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    position: absolute;
    width: 100%;
    line-height: 40px;
    text-align: center;
    bottom: 0;
    a {
        color: $primary-color;
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.material-icons {
    vertical-align: middle;
}

.back-icon {
    font-size: 18px;
}

.privacy {
    @include mq("phablet", min) {
        padding: 7rem 6rem;
    }
    @include mq("tablet-wide", min) {
        padding: 5rem 15rem;
    }
    padding: 7rem 2rem;
    .privacy__title {
        font-size: 20px;
    }
    .privacy__text {
        font-size: 16px;
        font-weight: 300;
    }
    .privacy__text--bold {
        padding-top: 1rem;
        font-weight: bold;
    }
    ul {
        font-size: 16px;
        font-weight: 300;
    }
}
